@font-face {
    font-family: 'font-regular';
    src: url('./assets/fonts/Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'font-light';
    src: url('./assets/fonts/Light.ttf') format('truetype');
}

@font-face {
    font-family: 'font-bold';
    src: url('./assets/fonts/Bold.ttf') format('truetype');
}

body {
    font-family: 'font-regular';
}